<a href="https://colab.research.google.com/github/AlexNedyalkov/Washington-University-Application-Neural-Networks/blob/master/Applications_of_DNNs_Assignment_AlexNedyalkov_class3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/jeffheaton/t81_558_deep_learning/blob/master/assignments/assignment_yourname_class3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# T81-558: Applications of Deep Neural Networks
* Instructor: [Jeff Heaton](https://sites.wustl.edu/jeffheaton/), School of Engineering and Applied Science, [Washington University in St. Louis](https://engineering.wustl.edu/Programs/Pages/default.aspx)
* For more information visit the [class website](https://sites.wustl.edu/jeffheaton/t81-558/).

**Module 3 Assignment: Data Preparation in Pandas**

**Student Name: Alex Nedyalkov**

# Assignment Instructions

For this assignment, you will use the **series-31** dataset.  This file contains a dataset that I generated explicitly for this semester.  You can find the CSV file on my data site, at this location: [series-31](https://data.heatonresearch.com/data/t81-558/datasets/series-31.csv). Load and summarize the data set.  You will submit this summarized dataset to the **submit** function.  See [Assignment #1](https://github.com/jeffheaton/t81_558_deep_learning/blob/master/assignments/assignment_yourname_class1.ipynb) for details on how to submit an assignment or check that one was submitted.

The RAW datafile looks something like the following:


|time|value|
|----|-----|
|8/22/19 12:51|    19.19535862|
|9/19/19 9:44|13.51954348|
|8/26/19 14:05|9.191413297|
|8/19/19 16:37|18.34659762|
|9/5/19 9:18|1.349778007|
|9/2/19 10:23|8.462216832|
|8/23/19 15:05|17.2471252|
|...|...|

Summarize the dataset as follows:

|date|starting|max|min|ending|
|---|---|---|---|---|
|8/19/19|17.57352208|18.46883497|17.57352208|18.46883497|
|8/20/19|19.49660945|19.84883044|19.49660945|19.84883044|
|8/21/19|20.0339169|20.0339169|19.92099707|19.92099707|
|...|...|...|...|...|

* There should be one row for each unique date in the data set.
* Think of the **value** as a stock price.  You only have values during certain hours and certain days.
* The **date** column is each of the different dates in the file.
* The **starting** column is the first **value** of that date (has the earliest time).
* The **max** column is the maximum **value** for that day.
* The **min** column is the minimum **value** for that day.
* The **ending** column is the final **value** for that day (has the latest time).

You can process the **time** column either as strings or as Python **datetime**.  It may be necessary to use Pandas functions beyond those given in the class lecture.

Note, you might get the following warning on the date field from the API.  You can safely ignore this warning:

* Warning: The mean of column date differs from the solution file by 2010.4. (might not matter if small)

Your submission triggers this warning due to the method you use to convert the time/date.  Your code is correct, whether you get this warning or not.

# Google CoLab Instructions

If you are using Google CoLab, it will be necessary to mount your GDrive so that you can send your notebook during the submit process. Running the following code will map your GDrive to ```/content/drive```.

In [1]:
try:
    from google.colab import drive
    drive.mount('/content/drive', force_remount=True)
    COLAB = True
    print("Note: using Google CoLab")
    %tensorflow_version 2.x
except:
    print("Note: not using Google CoLab")
    COLAB = False

Mounted at /content/drive
Note: using Google CoLab
TensorFlow 2.x selected.

# Assignment Submit Function

You will submit the 10 programming assignments electronically.  The following submit function can be used to do this.  My server will perform a basic check of each assignment and let you know if it sees any basic problems. 

**It is unlikely that should need to modify this function.**

In [0]:
import base64
import os
import numpy as np
import pandas as pd
import requests

# This function submits an assignment.  You can submit an assignment as much as you like, only the final
# submission counts.  The paramaters are as follows:
# data - Pandas dataframe output.
# key - Your student key that was emailed to you.
# no - The assignment class number, should be 1 through 1.
# source_file - The full path to your Python or IPYNB file.  This must have "_class1" as part of its name.  
# .             The number must match your assignment number.  For example "_class2" for class assignment #2.
def submit(data,key,no,source_file=None):
    if source_file is None and '__file__' not in globals(): raise Exception('Must specify a filename when a Jupyter notebook.')
    if source_file is None: source_file = __file__
    suffix = '_class{}'.format(no)
    if suffix not in source_file: raise Exception('{} must be part of the filename.'.format(suffix))
    with open(source_file, "rb") as image_file:
        encoded_python = base64.b64encode(image_file.read()).decode('ascii')
    ext = os.path.splitext(source_file)[-1].lower()
    if ext not in ['.ipynb','.py']: raise Exception("Source file is {} must be .py or .ipynb".format(ext))
    r = requests.post("https://api.heatonresearch.com/assignment-submit",
        headers={'x-api-key':key}, json={'csv':base64.b64encode(data.to_csv(index=False).encode('ascii')).decode("ascii"),
        'assignment': no, 'ext':ext, 'py':encoded_python})
    if r.status_code == 200:
        print("Success: {}".format(r.text))
    else: print("Failure: {}".format(r.text))

In [3]:
# Begin assignment

df = pd.read_csv("https://data.heatonresearch.com/data/t81-558/datasets/series-31.csv")
df['time'] = pd.to_datetime(df['time'], errors='coerce')
display(df[:10])
# Your code goes here.

                 time      value
0 2019-08-22 12:51:00  19.195359
1 2019-09-19 09:44:00  13.519543
2 2019-08-26 14:05:00   9.191413
3 2019-08-19 16:37:00  18.346598
4 2019-09-05 09:18:00   1.349778
5 2019-09-02 10:23:00   8.462217
6 2019-08-23 15:05:00  17.247125
7 2019-08-22 10:44:00  19.307439
8 2019-08-29 10:26:00   7.748959
9 2019-09-11 14:02:00  33.741233

In [0]:
df = df.set_index("time")

In [5]:
df.head()

                         value
time
2019-08-22 12:51:00  19.195359
2019-09-19 09:44:00  13.519543
2019-08-26 14:05:00   9.191413
2019-08-19 16:37:00  18.346598
2019-09-05 09:18:00   1.349778

In [6]:
df = df.sort_index()
display(df[:20])

                         value
time
2019-08-19 09:00:00  17.573522
2019-08-19 09:01:00  17.575387
2019-08-19 09:02:00  17.577250
2019-08-19 09:03:00  17.579113
2019-08-19 09:04:00  17.580975
2019-08-19 09:05:00  17.582837
2019-08-19 09:06:00  17.584697
2019-08-19 09:07:00  17.586557
2019-08-19 09:08:00  17.588416
2019-08-19 09:09:00  17.590275
2019-08-19 09:10:00  17.592132
2019-08-19 09:11:00  17.593989
2019-08-19 09:12:00  17.595845
2019-08-19 09:13:00  17.597700
2019-08-19 09:14:00  17.599555
2019-08-19 09:15:00  17.601409
2019-08-19 09:16:00  17.603261
2019-08-19 09:17:00  17.605114
2019-08-19 09:18:00  17.606965
2019-08-19 09:19:00  17.608816

In [7]:
min_series = df.resample("D").min()
max_series = df.resample("D").max()
print(min_series[:10])
print(max_series[:10])

                value
time
2019-08-19  17.573522
2019-08-20  19.496609
2019-08-21  19.920997
2019-08-22  18.893590
2019-08-23  16.974865
2019-08-24        NaN
2019-08-25        NaN
2019-08-26   8.814028
2019-08-27   7.175677
2019-08-28   6.940731
                value
time
2019-08-19  18.468835
2019-08-20  19.848830
2019-08-21  20.033917
2019-08-22  19.393700
2019-08-23  17.784213
2019-08-24        NaN
2019-08-25        NaN
2019-08-26   9.717627
2019-08-27   7.630234
2019-08-28   7.091136

In [0]:
start_series = df.asfreq("D")

In [0]:
start_series = start_series.resample("D").mean()

In [0]:
end_series = df.resample("D").last()

In [11]:
end_series

                value
time
2019-08-19  18.468835
2019-08-20  19.848830
2019-08-21  19.920997
2019-08-22  18.893590
2019-08-23  16.974865
2019-08-24        NaN
2019-08-25        NaN
2019-08-26   8.814028
2019-08-27   7.175677
2019-08-28   7.091136
2019-08-29   8.150454
2019-08-30   9.441207
2019-08-31        NaN
2019-09-01        NaN
2019-09-02   7.862781
2019-09-03   5.518901
2019-09-04   2.796339
2019-09-05   0.803337
2019-09-06   0.975155
2019-09-07        NaN
2019-09-08        NaN
2019-09-09  20.964092
2019-09-10  29.067541
2019-09-11  34.399895
2019-09-12  36.697054
2019-09-13  36.347701
2019-09-14        NaN
2019-09-15        NaN
2019-09-16  24.406477
2019-09-17  19.385784
2019-09-18  15.288665
2019-09-19  12.983163
2019-09-20  13.337320

In [0]:
df_submit = pd.concat([min_series, max_series, start_series, end_series], axis = 1)
df_submit.columns = ["min", "max", "starting", "ending"]

In [13]:
df_submit.shape

(33, 4)

In [14]:
df_submit.head()

                  min        max   starting     ending
time
2019-08-19  17.573522  18.468835  17.573522  18.468835
2019-08-20  19.496609  19.848830  19.496609  19.848830
2019-08-21  19.920997  20.033917  20.033917  19.920997
2019-08-22  18.893590  19.393700  19.393700  18.893590
2019-08-23  16.974865  17.784213  17.784213  16.974865

In [0]:
df_submit.drop(pd.Timestamp("2019-08-24"), axis = 0, inplace = True)

In [0]:
df_submit.drop(pd.Timestamp("2019-08-25"), axis = 0, inplace = True)

In [0]:
df_submit.drop(pd.Timestamp("2019-08-31"), axis = 0, inplace = True)
df_submit.drop(pd.Timestamp("2019-09-01"), axis = 0, inplace = True)
df_submit.drop(pd.Timestamp("2019-09-07"), axis = 0, inplace = True)
df_submit.drop(pd.Timestamp("2019-09-08"), axis = 0, inplace = True)
df_submit.drop(pd.Timestamp("2019-09-14"), axis = 0, inplace = True)
df_submit.drop(pd.Timestamp("2019-09-15"), axis = 0, inplace = True)

In [0]:
df_submit.index.rename("date", inplace = True)

In [0]:
df_submit.reset_index(level=0, inplace=True)

In [20]:
df_submit[:5]

        date        min        max   starting     ending
0 2019-08-19  17.573522  18.468835  17.573522  18.468835
1 2019-08-20  19.496609  19.848830  19.496609  19.848830
2 2019-08-21  19.920997  20.033917  20.033917  19.920997
3 2019-08-22  18.893590  19.393700  19.393700  18.893590
4 2019-08-23  16.974865  17.784213  17.784213  16.974865

# Assignment #3 Sample Code

The following code provides a starting point for this assignment.

In [21]:
import os
import pandas as pd
from scipy.stats import zscore

# This is your student key that I emailed to you at the beginnning of the semester.
key = "4ELU3949Wc96YNTZAOW9s2dWbOmBHgQ2a5x9EqEh"  # This is an example key and will not work.

# You must also identify your source file.  (modify for your local setup)
# file='/content/drive/My Drive/Colab Notebooks/assignment_yourname_class3.ipynb'  # Google CoLab
# file='C:\\Users\\jeffh\\projects\\t81_558_deep_learning\\assignments\\assignment_yourname_class3.ipynb'  # Windows
file='/content/drive/My Drive/Colab Notebooks/Washinton_University_Applications_Deep_Neural_Networks/Assignments/Applications_of_DNNs_Assignment_AlexNedyalkov_class3.ipynb'  # Mac/Linux




# Submit
submit(source_file=file,data=df_submit,key=key,no=3)

Success: Submitted Assignment 3 for alexander-nedyalkov:
You have submitted this assignment 6 times. (this is fine)
No warnings on your data. You will probably do well, but no guarantee. :-)