<a href="https://colab.research.google.com/github/AlexNedyalkov/Washington-University-Application-Neural-Networks/blob/master/Module_4_1_Practice_Encoding_Cat_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
try:
    %tensorflow_version 2.x
    COLAB = True
    print("Note: using Google CoLab")
except:
    print("Note: not using Google CoLab")
    COLAB = False

TensorFlow 2.x selected.
Note: using Google CoLab

In [0]:
import pandas as pd

df = pd.read_csv(
        "https://data.heatonresearch.com/data/t81-558/jh-simple-dataset.csv",
         na_values = ["?", "n.a."])
display(df[:5])

   id job area   income  ...  pop_dense  retail_dense     crime  product
0   1  vv    c  50876.0  ...   0.885827      0.492126  0.071100        b
1   2  kd    c  60369.0  ...   0.874016      0.342520  0.400809        c
2   3  pe    c  55126.0  ...   0.944882      0.724409  0.207723        b
3   4  11    c  51690.0  ...   0.889764      0.444882  0.361216        b
4   5  kl    d  28347.0  ...   0.744094      0.661417  0.068033        a

[5 rows x 14 columns]

In [0]:
df.isna().sum()

id                 0
job                0
area               0
income            59
aspect             0
subscriptions      0
dist_healthy       0
save_rate          0
dist_unhealthy     0
age                0
pop_dense          0
retail_dense       0
crime              0
product            0
dtype: int64

In [0]:
df.shape

(2000, 14)

There is an ID column.  This column should not be fed into the neural network as it contains no information useful for prediction.

In [0]:
df.drop(labels = ["id"], axis = 1, inplace =True)

In [0]:
df.shape

(2000, 13)

We will convert the job code into dummy variables.

In [0]:
dummies = pd.get_dummies(df.job, prefix="job_")
print(dummies.shape)

(2000, 33)

In [0]:
df = pd.concat([df, dummies], axis = 1)
df.drop("job", axis = 1, inplace = True)
df.shape

(2000, 45)

We also introduce dummy variables for the area column.

In [0]:
dummies_area = pd.get_dummies(df.area, prefix = "area_")
dummies_area.shape

(2000, 4)

In [0]:
df = pd.concat([df, dummies_area], axis = 1)
df.drop("area", axis = 1, inplace = True)
df.shape

(2000, 48)

The last remaining transformation is to fill in missing income values.

In [0]:
med = df['income'].median()
df['income'] = df['income'].fillna(med)

In [0]:
df.isna().sum()

income            0
aspect            0
subscriptions     0
dist_healthy      0
save_rate         0
dist_unhealthy    0
age               0
pop_dense         0
retail_dense      0
crime             0
product           0
job__11           0
job__al           0
job__am           0
job__ax           0
job__bf           0
job__by           0
job__cv           0
job__de           0
job__dz           0
job__e2           0
job__f8           0
job__gj           0
job__gv           0
job__kd           0
job__ke           0
job__kl           0
job__kp           0
job__ks           0
job__kw           0
job__mm           0
job__nb           0
job__nn           0
job__ob           0
job__pe           0
job__po           0
job__pq           0
job__pz           0
job__qp           0
job__qw           0
job__rn           0
job__sa           0
job__vv           0
job__zz           0
area__a           0
area__b           0
area__c           0
area__d           0
dtype: int64

In [0]:
features = df.drop("product", axis = 1)

In [0]:
label = df.product

In [0]:
x = features.values

In [0]:
x[:3]

array([[5.08760000e+04, 1.31000000e+01, 1.00000000e+00, 9.01789549e+00,
        3.50000000e+01, 1.17389349e+01, 4.90000000e+01, 8.85826772e-01,
        4.92125984e-01, 7.10999582e-02, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [6.03690000e+04, 1.86250000e+01, 2.00000000e+00, 7.76664281e+00,
        5.90000000e+01, 6.80539553e+00, 5.10000000e+01, 8.74015748e-01,
        3.42519685e-01, 4.00808588e-01, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [5.51260000e+04, 3.47666667e+01, 1.00000000e+00, 3.63206872e+00,
        6.00000000e+00, 1.36717718e+01, 4.40000000e+01, 9.44881890e-01,
        7.24409449e-01, 2.07723407e-01, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00]])

In [0]:
dummies = pd.get_dummies(df['product']) # Classification
products = dummies.columns
y = dummies.values

In [0]:
display(y[:3])

array([[0, 1, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0]], dtype=uint8)